.wip-image-zoom {
  display: block;
  width: 500px;
  max-width: 100%;
  .main-image-wrapper {
    position: relative;
    z-index: 30;

    .zoom-mask {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      .zoom-image {
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .main-image {
    position: relative;
    display: block;
    z-index: 10;
    width: 100%;
  }
  .thumbs {
    overflow-x: auto;
    display: inline-block;
    white-space: nowrap;
    margin-left: -4px;
    margin-right: -4px;
    .thumb-wrapper {
      display: inline-block;
      padding: 8px 4px;
      box-sizing: border-box;
      width: 25%;
      > img {
        width: 100%;
        cursor: pointer;
        &.selected {
          box-shadow: 0 2px 0 0 #9c0033;
        }
      }
    }
  }
}