.wip-image-zoom {
  display: block;
  width: 500px;
  max-width: 100%;
  user-select: none;
  .main-image-wrapper {
    position: relative;
    z-index: 30;

    .zoom-mask {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      .zoom-image {
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .main-image {
    position: relative;
    display: block;
    z-index: 10;
    width: 100%;
  }
  wip-image-zoom-thumbs {
    position: relative;
    display: block;
    .thumbs-wrapper {
      width: 100%;
      overflow: hidden;
      .thumbs {
        display: inline-block;
        white-space: nowrap;
        transition: transform 300ms ease;
        .thumb-wrapper {
          display: inline-block;
          padding: 8px 8px 8px 0px;
          box-sizing: border-box;
          width: 30%;
          > img {
            display: block;
            width: 100%;
            cursor: pointer;
            &.selected {
              box-shadow: 0 2px 0 0 #9c0033;
            }
          }
        }
      }
    }
    .prev-button,
    .next-button {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
      padding: 8px;
    }
    .next-button {
      left: 100%;
    }
    .prev-button {
      right: 100%;
    }
  }
}