html {
    &.wip-image-zoom-immersive-mode-enabled {
        overflow: hidden;
    }

    body {
        .immersive-wip-image-zoom {
            z-index: 9999;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;

            > .disable-immersive-mode-button {
                position: fixed;
                top: 0;
                right: 0;
                padding: 8px;
                font-size: 24px;
                line-height: 1;
                cursor: pointer;
                z-index: 20;
            }
            > .wip-image-zoom {

                &:not(.zoom-disabled) {
                    z-index: 20;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    width: 75vh;
                    max-width: 75vw;
                    margin: auto;
                }

                &.zoom-disabled {
                    overflow: auto;
                    height: 100%;
                    padding: 32px;
                    box-sizing: border-box;
                }
            }

            .immersive-no-zoom-image-wrapper {
                > img {
                    min-width: 100%;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

.wip-image-zoom {
    display: block;
    max-width: 100%;
    user-select: none;
    .main-image-wrapper {
        position: relative;
        overflow: hidden;
        &.loading {
            .image-zoom-tracker {
                cursor: wait !important;
            }
            .main-image {
                z-index: 28 !important;
            }
        }
        .image-zoom-lens {
            display: none;
            position: absolute;
            z-index: 25;
            height: 100px;
            width: 100px;
            background: transparent;
            border: 2px solid #FFFFFF;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.55), 0 0 0 1px rgba(0, 0, 0, 0.55);
            box-sizing: border-box;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s ease;
        }
        .image-zoom-tracker {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 30;
            //width: 100%;
            //height: 100%;
        }
        .zoom-mask {
            background: #ffffff;
            z-index: 20;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s ease;
            .zoom-image {
                max-width: none;
            }
        }
        .immersive-mode-message {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: 12px;
            font-weight: 400;
            padding: 6px 8px;
            margin-bottom: 12px;
            z-index: 20;
            text-align: center;
        }
    }
    .main-image {
        position: relative;
        display: block;
        z-index: 10;
        width: 100%;
    }
    &.box-style {
        .zoom-mask {
            //width: 400px;
            //height: 400px;
            border: 2px solid rgba(0, 0, 0, 0.55);
            box-sizing: border-box;
            &.right-top {
                top: 0;
                left: 100%;
                right: auto;
            }
            &.right-middle {
                top: 50%;
                transform: translateY(-50%);
                left: 100%;
                right: auto;
            }
            &.right-bottom {
                bottom: 0;
                left: 100%;
                right: auto;
            }
            &.left-top {
                top: 0;
                right: 100%;
                left: auto;
            }
            &.left-middle {
                top: 50%;
                transform: translateY(-50%);
                right: 100%;
                left: auto;
            }
            &.left-bottom {
                bottom: 0;
                right: 100%;
                left: auto;
            }
            &.bottom-left {
                left: 0;
                top: 100%;
                bottom: auto;
            }
            &.bottom-center {
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                bottom: auto;
            }
            &.bottom-right {
                right: 0;
                top: 100%;
                bottom: auto;
            }
            &.top-left {
                left: 0;
                bottom: 100%;
                top: auto;
            }
            &.top-center {
                left: 50%;
                transform: translateX(-50%);
                bottom: 100%;
                top: auto;
            }
            &.top-right {
                right: 0;
                bottom: 100%;
                top: auto;
            }
        }
    }
    &.top-thumbs,
    &.bottom-thumbs {
        wip-image-zoom-thumbs {
            position: relative;
            display: block;
            .thumbs-wrapper {
                width: 100%;
                overflow: hidden;
                .thumbs {
                    display: inline-block;
                    white-space: nowrap;
                    transition: transform 300ms ease;
                    .thumb-wrapper {
                        display: inline-block;
                        //padding: 8px 8px 8px 0px;
                        box-sizing: border-box;
                        //width: 30%;
                        > img {
                            display: block;
                            width: 100%;
                            cursor: pointer;
                            &.selected {
                                box-shadow: 0 2px 0 0 #9C0033;
                            }
                        }
                    }
                }
            }
            .prev-button,
            .next-button {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                cursor: pointer;
                padding: 8px;
            }
            .next-button {
                left: 100%;
            }
            .prev-button {
                right: 100%;
            }
        }
    }
    &.left-thumbs,
    &.right-thumbs {
        .main-image-wrapper {
            width: 80%;
            float: left;
        }
        wip-image-zoom-thumbs {
            width: 20%;
            float: left;
            .thumbs-wrapper {
                height: 100%;
                overflow: hidden;
                .thumbs {
                    .thumb-wrapper {
                        width: 100% !important;
                        > img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &.inner-style {
        .zoom-mask {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.active {
        .main-image-wrapper:not(.loading) {
            overflow: visible;
            .zoom-mask, .image-zoom-lens {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &.immersive-mode {
        .main-image-wrapper {
            overflow: hidden;
            .zoom-mask, .image-zoom-lens {
                opacity: 0;
                visibility: hidden;
            }
            .image-zoom-tracker {
                cursor: zoom-in !important;
            }
        }
    }
}